.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
      Set the color of the icon
    */
.containerLoader,
svg rect {
  fill: #5c1c3f;
}

/* .containerLoader */
