.messenger {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden !important;
}

.input-search-mobile-container {
  display: flex;
  justify-content: center;
}

.chatMenu::-webkit-scrollbar {
  display: none !important;
}

.chatBoxTop::-webkit-scrollbar {
  display: none;
}

.chatMenu {
  overflow-y: scroll;
  border-radius: 10px 0px 0px 10px;
  background-color: #5c1c3f;
  color: white;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #f1f1f1;
}

.chatBox {
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgba(128, 128, 128, 0.576);
  background-color: white;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin-left: 10px !important;
}

.chatBoxTop {
  height: 100%;
  border-radius: 10px !important;
  overflow-y: scroll;
  padding: 40px;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  height: 95%;
}

.noConversationText {
  font-size: 50px;
  color: rgb(224, 220, 220);
}

@media (min-width: 542px) and (max-width: 576px) {
  .chatMenu {
    position: relative;
    left: 20px !important;
  }
}

@media (min-width: 376px) and (max-width: 540px) {
  .chatBoxTop {
    padding-left: 1px !important;
    padding-right: 10px !important;
  }
  .input-search-mobile-container {
    display: flex !important;
    justify-content: left !important;
    position: relative;
  }
  .input-search-mobile-icon {
    display: contents !important;
  }
  .input-search-mobile {
    display: flex !important;
  }

  .noConversationText {
    font-size: 30px;
  }
}

@media (min-width: 377px) and (max-width: 499px) {
  .chatBoxTop {
    padding-left: 1px !important;
    padding-right: 10px !important;
  }
  .input-search-mobile-container {
    display: flex !important;
    justify-content: left !important;
  }
  .input-search-mobile-icon {
    display: contents !important;
  }
  .input-search-mobile {
    display: flex !important;
  }

  .messenger {
    height: 400px !important;
  }

  .noConversationText {
    font-size: 20px;
  }
}

@media (min-width: 321px) and (max-width: 376px) {
  .chatBoxTop {
    padding-left: 1px !important;
    padding-right: 10px !important;
  }

  .messenger {
    height: 550px !important;
  }

  .input-search-mobile-container {
    display: flex !important;
    justify-content: left !important;
  }
  .input-search-mobile-icon {
    display: contents !important;
  }
  .input-search-mobile {
    display: flex !important;
  }
  .noConversationText {
    font-size: 20px !important;
  }
}

@media (min-width: 281px) and (max-width: 320px) {
  .chatBoxTop {
    padding-left: 1px !important;
    padding-right: 10px !important;
  }
  .input-search-mobile-container {
    display: flex !important;
    justify-content: left !important;
  }
  .input-search-mobile-icon {
    display: contents !important;
  }
  .input-search-mobile {
    display: flex !important;
  }

  .noConversationText {
    font-size: 20px;
  }
}

@media screen and (max-width: 280px) {
  .messenger {
    height: 350px;
    position: relative;
    left: 2px !important;
    min-width: 250px !important;
  }

  .chatBoxTop {
    padding-left: 1px !important;
    padding-right: 10px !important;
  }

  .input-search-mobile-container {
    position: relative;
    right: -10px;
  }

  .input-search-mobile-icon {
    display: contents !important;
  }
  .input-search-mobile {
    display: flex !important;
    width: 160px !important;
  }
  .noConversationText {
    font-size: 20px;
    color: rgb(224, 220, 220);
  }
}
