body {
  background-color: #f1f1f1;
}

.homeTitle {
  color: rgb(92, 28, 63);
}

.containerNotification {
  padding-right: 15px;
}

.chatIcon {
  position: relative;
  /* top: 5px; */
  right: 3px;
}

.sideNav-title-chat {
  position: relative;
  top: 5px;
}

.arrowToTop {
  /* transition: all ease 1; */
  transition: all ease-in-out 0.15s !important;
}

.btn-post {
  transition: all ease-in-out 0.18s !important;
}

.postBtnSubmit {
  background-color: rgb(92, 28, 63) !important;
  color: white !important;
}

.btnPost {
  transition: all ease-in 0.3s !important;
}

.btnPost:active {
  transition: all ease-out 0.1s !important;
  transform: scale(0.9) !important;
}

.btn-post:active {
  transform: scale(0.9) !important;
  /* font-size: 30px; */
}

.arrowToTop:hover {
  /* transform: scale(2, 3); */
  /* transform: rotate3d(1, 2); */
  transform: scale(0.9);
}

.bgHome {
  background-image: url("./images/social-home-bg.png");
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}

.dashboard {
  background-color: #f1f1f1;
}

.searchMembers {
  overflow-y: scroll;
  max-height: 100px;
}

.notification {
  width: 10px !important;
  height: 10px !important;
  background-color: red !important;
  border-radius: 50% !important;
  color: white !important;
  position: absolute !important;
  bottom: 12px !important;
  right: 4px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 10px !important;
}

.active {
  color: rgb(145, 101, 125) !important;
  background-color: rgba(255, 0, 0, 0) !important;
}

.btnToEditProfile {
  background-color: rgb(92, 28, 63) !important;
  color: white !important;
}

.inputSearchShowOnlyPhones {
  display: none !important;
}
.iconAddComment {
  display: none;
}
.container-posts {
  border-radius: 20px !important;
}

.container-nav {
  padding-top: 0.5em;
  padding-bottom: 0.5rem;
}

.sideNav {
  display: flex !important;
  justify-content: center !important;
}

.sideNavLink-container {
  position: sticky !important;
}

.symbols {
  /* line-height: 35px !important; */
  padding-left: 8px;
  /* margin-right: 2px; */
  font-size: 20px;
}

.btnAnimate {
  transition: all ease-in 0.3s !important;
  border: none !important;

  background-color: white;
}

.btnAnimate:active {
  transition: all ease-out 0.1s !important;
  transform: scale(0.7) !important;
}

.btnAnimateAddComment {
  transition: all ease-in-out 0.18s !important;
  border: none !important;
  background-color: none !important;
  background-color: white;
}

.btnAnimateAddComment:active {
  transform: scale(0.9) !important;
  /* font-size: 30px; */
}

.textSymbols {
  transition: all ease-in-out 0.18s !important;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

.textSymbols:active {
  transform: scale(0.7) !important;
  border-radius: 10px !important;
}

.datePost {
  position: relative !important;
  bottom: 10px !important;
}

.dateComment {
  position: relative !important;
  bottom: 10px !important;
}
.datePostProfile {
  position: relative !important;
  bottom: 25px !important;
}

.sideNav-title {
  font-size: 15px !important;
}

.sideNav-title ::target-text {
  color: red !important;
}

.footer {
  border-top: 1px solid rgba(92, 28, 63, 0.248) !important;
}

.footer-btn {
  position: relative;
  bottom: 7px;
}

.container-profile {
  background-color: white;
}

.profile-header {
  position: relative;
  overflow: hidden;
}

.profile-header .profile-header-cover {
  position: absolute;
  min-width: 100%;
}

.profile-header .profile-header-content {
  color: #fff;
  padding: 25px;
}

.profile-header-img {
  float: left;
  width: 120px;
  height: 120px;
  background: #fff;
  cursor: pointer;
}

.profile-header-img img {
  max-width: 100%;
}

.profile-header-info h4 {
  font-weight: 500;
  color: #fff;
}

.profile-header .profile-header-content,
.profile-header .profile-header-tab {
  position: relative;
}

.profile-header .profile-header-tab {
  background: #fff;
  list-style-type: none;
  margin: -10px 0 0;
  padding: 0 0 0 140px;
  white-space: nowrap;
  border-radius: 0;
}

.profile-header .profile-header-tab > li {
  display: inline-block;
  margin: 0;
}

.profile-header .profile-header-tab > li > a {
  display: block;
  color: #929ba1;
  line-height: 20px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  border: none;
}

.bg-white {
  background-color: #fff !important;
}

.form-control.input-inline {
  display: inline;
  width: auto;
  padding: 0 7px;
}

.timeline-profile {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  position: relative;
}

.timeline {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.timeline > li {
  position: relative;
  min-height: 50px;
}

.timeline .timeline-body > div + div {
  margin-top: 15px;
}

.timeline-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e2e7eb;
  line-height: 30px;
}

.timeline-header .userimage {
  float: left;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  overflow: hidden;
  /* margin: -2px 10px -2px 0; */
  position: relative;
  top: -2px;
  right: 7px;
  transition: all ease-in 0.3s !important;
}
.timeline-header .userimage:active {
  transition: all ease-out 0.1s !important;
  transform: scale(0.8);
}

.timeline-header .username {
  font-size: 16px;
  font-weight: 600;
}

.timeline-header .username,
.timeline-header .username a {
  color: #2d353c;
}

.timeline-content {
  position: relative !important;
  top: 5px !important;
  letter-spacing: 0.25px;
  line-height: 18px;
  font-size: 13px;
}

.timeline-content:after,
.timeline-content:before {
  content: "";
  display: table;
  clear: both;
}

.timeline-footer {
  background: #fff;
  border-top: 1px solid #e2e7ec;
  padding-top: 15px;
}

.timeline-footer a:not(.btn) {
  color: #575d63;
}

.timeline-likes {
  color: #6d767f;
  font-weight: 600;
  font-size: 12px;
}

.timeline-likes .stats-right {
  float: right;
}

.timeline-likes .stats-text {
  line-height: 20px;
}

.timeline-likes .stats-text + .stats-text {
  margin-left: 15px;
}

.user {
  float: left;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 30px;
}

.personIcon {
  font-size: 20px;
}

.user + .input {
  margin-left: 44px;
}

@media screen and (max-width: 944px) {
  .profile-header .profile-header-tab {
    padding: 0px;
  }
}

@media (min-width: 769px) and (max-width: 872px) {
  .profile-header .profile-header-cover {
    height: 200px;
  }
}

@media (min-width: 541px) and (max-width: 768px) {
  .profile-header .profile-header-cover {
    height: 200px;
  }
  .notification {
    bottom: 10px !important;
    left: 10px !important;
  }
}

@media (min-width: 500px) and (max-width: 540px) {
  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    flex-wrap: nowrap;
  }
  .notification {
    bottom: -5px !important;
    left: 10px !important;
  }
  .symbols {
    display: flex;
    justify-content: center;
    font-size: 18px !important;
  }
  .container-dashboard {
    position: relative;
    left: 20px;
  }
}

@media (min-width: 411px) and (max-width: 499px) {
  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    flex-wrap: nowrap;
  }
  .profile-header-img {
    position: relative;
    bottom: 10px !important;
  }

  .notification {
    position: relative;
    bottom: -5px !important;
    left: 6px !important;
  }
  .symbols {
    display: flex;
    justify-content: center !important;
    position: relative !important;
    right: 3.5px !important;
    font-size: 22px !important;
  }

  .container-dashboard {
    position: relative;
    left: 17px;
  }
  .serInput {
    width: 120px !important;
  }

  .addCommentBtn {
    display: none !important;
  }
  .profileTeam {
    font-size: 13px !important;
  }
  .iconAddComment {
    display: contents;
  }

  .inputComment {
    font-size: 10px !important;
  }

  .profileName {
    font-size: 17px !important;
  }

  .btnProfile {
    font-size: 10px !important;
  }

  .homeTitle {
    font-size: 30px !important;
  }
  .content-home {
    font-size: 10px !important;
  }

  .postProfileDetails {
    font-size: 13px !important;
    position: relative;
    bottom: 9px !important;
  }

  .userimage {
    position: relative !important;
    bottom: 5px !important;
  }

  .userDetails {
    font-size: 15px !important;
    position: relative;
    bottom: 4px;
  }

  .datePostProfile {
    font-size: 10px !important;
  }

  .datePost {
    font-size: 13px !important;
    position: relative !important;
    bottom: 15px !important;
  }

  .comAndLik {
    font-size: 12px !important;
  }

  .btnAnimate {
    font-size: 20px !important;
  }

  .timeline-content {
    font-size: 15px !important;
  }

  .dateComment {
    font-size: 12px !important;
    position: relative;
    bottom: 16px;
  }

  .viewComments {
    font-size: 13px !important;
  }

  .commentDetails {
    font-size: 13px !important;
  }

  .comment-name {
    position: relative;
    bottom: 8px;
  }

  .commentContent {
    font-size: 14px !important;
    position: relative;
    top: 10px;
  }
}

@media (min-width: 360px) and (max-width: 361px) {
  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    flex-wrap: wrap !important;
  }
}

@media (min-width: 320px) and (max-width: 321px) {
  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    flex-wrap: wrap !important;
  }
}

@media (min-width: 281px) and (max-width: 410px) {
  .btnAnimate {
    font-size: 20px;
  }
  .profile-header .profile-header-content,
  .profile-header .profile-header-tab {
    flex-wrap: nowrap;
  }

  .profile-header .profile-header-content,
  .profile-header .profile-header-tab li {
    position: relative;
    right: 2px;
  }

  .profile-header-img {
    position: relative;
    bottom: 10px !important;
  }

  .notification {
    position: relative;
    bottom: -4px !important;
    left: 4px !important;
  }
  .symbols {
    display: flex;
    justify-content: center !important;
    position: relative !important;
    right: 4.5px !important;
    font-size: 22px !important;
  }

  .container-dashboard {
    position: relative;
    left: 17px;
  }
  .serInput {
    width: 120px !important;
  }

  .addCommentBtn {
    display: none !important;
  }
  .profileTeam {
    font-size: 11px !important;
  }
  .iconAddComment {
    display: contents;
  }

  .inputComment {
    font-size: 10px !important;
  }

  .profileName {
    font-size: 17px !important;
  }

  .btnProfile {
    font-size: 10px !important;
  }

  .homeTitle {
    font-size: 30px !important;
  }
  .content-home {
    font-size: 10px !important;
  }

  .postProfile-F-name-L-name {
    font-size: 13px !important;
    position: relative;
    bottom: 9px !important;
  }

  .userimage {
    position: relative !important;
    bottom: 5px !important;
  }

  .userDetails {
    font-size: 15px !important;
    position: relative;
    bottom: 5px;
  }

  .datePostProfile {
    font-size: 15px !important;
  }

  .datePost {
    font-size: 13px !important;
    position: relative !important;
    bottom: 15px !important;
  }

  .comAndLik {
    font-size: 13px !important;
  }

  .timeline-content {
    font-size: 14px !important;
    padding: 10px;
  }

  .dateComment {
    font-size: 12px !important;
    position: relative;
    bottom: 16px;
  }

  .viewComments {
    font-size: 14px !important;
  }

  .commentDetails {
    font-size: 13px !important;
  }

  .comment-name {
    position: relative;
    bottom: 8px;
  }

  .commentContent {
    font-size: 13px !important;
    position: relative;
    top: 10px;
  }

  .deleteComment {
    font-size: 20px !important;
    position: relative;
    bottom: 20px;
  }
}

@media (min-width: 359px) and (max-width: 360px) {
  .notification {
    position: relative;
    bottom: -6px !important;
    left: 3px !important;
  }
  .inputSearch {
    position: relative;
    right: 7px !important;
  }

  .container-user-profile {
    position: relative;
    right: 2px;
  }

  .container-posts {
    position: relative;
    right: 3px !important;
  }

  .symbols {
    display: flex;
    justify-content: center;
    position: relative;
    right: 6px !important;
    font-size: 22px !important;
  }
}

@media screen and (max-width: 320px) {
  .containerInputSearchMobile .input-group {
    flex-wrap: nowrap !important;
  }
  .notification {
    position: relative;
    bottom: -4px !important;
    left: 2px !important;
  }
  .profile-header-img {
    width: 70px !important;
    height: 70px !important;
    position: relative;
    top: 10px;
  }
  .profileTeam {
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
    left: 1px !important;
    font-size: 10px !important;
  }

  .btnsProfile {
    padding-top: 10px;
  }

  .symbols {
    display: flex;
    justify-content: center !important;
    position: relative;
    right: 7px !important;
    font-size: 22px !important;
  }
  .container-posts {
    position: relative !important;
    right: 5px !important;
  }
  .inputSearch {
    display: none !important;
  }
  .inputSearchShowOnlyPhones {
    display: flex !important;
    position: relative;
    width: 165px !important;
    top: -38px !important;
    right: -1px !important;
  }
  .btn-post {
    margin-left: 190px !important;
  }

  .footer {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 280px) {
  .chatIcon {
    position: relative;
    right: 8px;
  }

  .textSymbols {
    /* transition: all ease-in-out 0.18s !important;
    display: flex;
    justify-content: center !important;
    align-items: center; */
    padding: 1px;
    margin: -5px;
    position: relative;
    left: 10px;
  }

  .notification {
    position: relative;
    bottom: -4px !important;
    left: 1px !important;
  }

  .container-user-profile {
    position: relative;
    left: 4px;
    min-width: 250px !important;
  }

  .container-posts {
    position: relative;
    left: 0px !important;
    /* width: 240px !important; */
  }
  .userimage {
    width: 25px !important;
    height: 25px !important;
  }

  .userImageNavBottom {
    position: relative !important;
    top: 4px !important;
  }
  .comment-name {
    position: relative;
    bottom: 7px;
  }
  .footer {
    font-size: 12px !important;
  }

  .edit-delete-posts-profile-btns {
    position: relative;
    font-size: 16px;
    bottom: 34px;
  }

  .btnProfileEdit {
    position: relative;
    top: 1px;
    right: 30px;
  }

  .profileName {
    position: relative;
    top: 30px;
  }

  .profileTeam {
    position: relative;
    top: 30px;
    left: 15px;
  }
  .profile-header-img {
    position: relative;
    top: 30px;
    left: 15px;
    height: 70px !important;
    width: 70px !important;
  }
  .profile-header-content {
    padding: 0px !important;
  }
  .btn-post {
    margin-left: 201px !important;
    position: relative;
    top: 28px;
  }
  .inputSearchShowOnlyPhones {
    display: flex !important;
    position: relative;
    width: 165px !important;
    top: -10px !important;
    right: 2px !important;
  }

  .serInput {
    width: 120px !important;
  }

  .addCommentBtn {
    display: none !important;
  }
  .profileTeam {
    font-size: 10px !important;
    padding: 10px;
  }
  .iconAddComment {
    display: contents;
  }

  .inputComment {
    font-size: 10px !important;
  }

  .profileName {
    font-size: 17px !important;
  }

  .btnsProfile {
    position: relative;
    top: 10px !important;
    left: 110px !important;
    margin: 40px !important;
  }

  .btnProfile {
    font-size: 7px !important;
  }

  .homeTitle {
    font-size: 30px !important;
  }
  .content-home {
    font-size: 10px !important;
  }

  .postProfile-F-name-L-name {
    font-size: 13px !important;
    position: relative;
    bottom: 9px !important;
  }

  .userDetails {
    font-size: 13px !important;
    position: relative;
    bottom: 7px;
  }

  .datePostProfile {
    font-size: 10px !important;
    position: relative !important;
    bottom: 30px !important;
  }

  .datePost {
    font-size: 11.5px !important;
    position: relative !important;
    bottom: 15px !important;
  }

  .comAndLik {
    font-size: 12px !important;
  }

  .timeline-content {
    font-size: 14px !important;
    /* padding: 5px !important; */
    padding-top: 10px;
  }

  .dateComment {
    font-size: 10px !important;
    position: relative;
    bottom: 16px !important;
  }

  .viewComments {
    font-size: 12px !important;
  }

  .commentDetails {
    font-size: 12px !important;
  }

  .commentContent {
    font-size: 12px !important;
    position: relative;
    top: 10px;
  }

  .timeline-footer {
    position: relative;
    top: 20px;
  }

  .symbols {
    display: flex;
    justify-content: center;
    position: relative;
    right: 8px !important;
    font-size: 22px !important;
  }
}
